
@font-face{

    font-family: 'Gotham-Medium';
    
    src: url('../fonts/Gotham-Medium.ttf');
    
    src: url('../fonts/Gotham-Medium.ttf') format('eot'),
    
    url('../fonts/Gotham-Medium.ttf') format('woff'),
    
    url('../fonts/Gotham-Medium.ttf') format('truetype'),
    
    url('../fonts/Gotham-Medium.ttf') format('svg');
    
    font-weight: normal;
    
    font-style: normal;
    
    } 
* {
   margin:0; padding:0;
   font-size:inherit;
   color:inherit;
   -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
     font-family: 'Gotham-Medium'; 
   
}

body {
    background-image: url('../images/main-background.png');
    background-size: cover;
    background-position: top center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.logo{
    text-decoration: none;
    border-top: 3px solid #05abda;
    padding-top: 32px;
}

.clearfix {
    content: "";
    clear: both;
    display: block
}

.sales {
    margin-bottom: 16px;
    padding-top: 8px;
    padding-right: 10px;
    text-transform: uppercase;
    float: right;
    width: 243px;
    height: 24px;
    font-size: 10px;
    background-color: #303030;
    color: #ababab;
    text-align: right;
}

.sales span {
    color: #ffffff;
}


.container {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.right-header-block {
    float: right;
}

.sales, .menu, .shopping-card {
    display: inline-block;
}

.menu ul li {
    color: white;
}

.right-header-block form input {
    background-color: black;
    border: 1px solid #4a4a4a;
    color: #757575;
    padding: 8px;
    font-size: 10px;
    margin-left: 35px;
}

.right-header-block form input:focus {
    box-shadow: 0 0 35px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
    margin-left: 33px;
}

.menu,  form, .shopping-card {
    float: right;
}

.menu ul li a {
    margin-left: 33px;
    font-size: 15px;
    
}

.menu {
    padding-top: 9px;
}

ul li {
    display: inline;  
}

.shopping-card a i {
    color: #05abda;
    padding-top: 5px;
}

.shopping-card a:first-child {
    margin-left: 20px;
}

.shopping-card a:last-child {
    margin-left: 15px;
}

 .main-bunner {
   
   position: relative;

}   



.connecting {
    position: absolute;
    top: 230px;
    left: 20px;
    width: 215px;
    height: 58px;
    background-color: #228dc0;
    border: none;
    color: white;
}